<ion-header>
  <ion-navbar>
    <ion-title>
      iTunes Music
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchValue" (search)="searchClicked()" placeholder="Search iTunes music"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of music" (click)="play(item)">
      <ion-avatar item-start>
        <img src={{item.artworkUrl100}}>
      </ion-avatar>
      <h2>{{item.trackName}}</h2>
      <p>{{item.artistName}}</p>
      <ion-badge *ngIf="playerService.selectedTrack && item.trackId === playerService.selectedTrack.trackId" color="danger" item-end>{{playerService.playerState}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
