<ion-header>
  <ion-navbar>
    <ion-title>
      iTunes Movies
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchValue" (search)="searchClicked()" placeholder="Search iTunes movies"></ion-searchbar>
  <ion-list>    
      <ion-item *ngFor="let item of movies" class="pull-left"  (click)="play(item)">{{item.artistName}}<br>
      <strong>
        <span class="pull-right">{{item.trackName}}</span></strong>
        <ion-avatar item-start>
          <img src={{item.artworkUrl100}}>
        </ion-avatar>
        <ion-badge item-end>{{item.collectionPrice}}</ion-badge>
      </ion-item>
      <div *ngIf="selectedMovie">
        <video src={{selectedMovie.previewUrl}} controls></video>
      </div>
  </ion-list>
</ion-content>