<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="logo-apple"></ion-icon> iTunes Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchValue" (search)="searchClicked()" placeholder="Search iTunes movies"></ion-searchbar>
  <ion-list>    
      <ion-item *ngFor="let item of movies" class="pull-left item item-text-wrap"  
        (click)="play(item)">{{item.trackName}}<br>
        <strong>
          <span class="pull-right">{{item.artistName}}</span>
        </strong>
        <ion-thumbnail item-start>
          <img src={{item.artworkUrl100}}>
        </ion-thumbnail>
        <ion-icon *ngIf="!selectedMovie || (selectedMovie && selectedMovie.trackId !== item.trackId)" 
            item-end 
            style="color:lightgray"
            name="arrow-down"></ion-icon>
         <ion-icon *ngIf="selectedMovie && selectedMovie.trackId === item.trackId" 
            item-end
            style="color:darkgray"
            name="arrow-up"></ion-icon>
        <div *ngIf="selectedMovie && selectedMovie.trackId === item.trackId">
          <ion-grid style="padding:0px;">
          <ion-row text-wrap>
            <p><small>{{item.longDescription}}</small></p>
          </ion-row>
            <!--video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video-->
            <video width="320" height="200" src={{selectedMovie.previewUrl}} controls>Browser does not support the video tag.</video>
        </ion-grid>
        </div>
      </ion-item>
  </ion-list>
</ion-content>