<ion-header>
  <ion-navbar>
    <ion-title>ChartJS</ion-title>
  </ion-navbar>
  <ion-segment padding [(ngModel)]="chartType" color="primary" (ionChange)="chartChanged($event)">
    <ion-segment-button value="donut">
      donut
    </ion-segment-button>
    <ion-segment-button value="line">
      line
    </ion-segment-button>
     <ion-segment-button value="bar">
      bar
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <!--div class="row"-->
    <canvas *ngIf="chartType=='donut'" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                [legend]="lineChartLegend"
                (chartClick)="chartClicked($event)">
    </canvas>
    <canvas *ngIf="chartType=='line'" baseChart 
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
    <canvas *ngIf="chartType=='bar'" baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  <!--/div-->
</ion-content>