<ion-header>
  <ion-navbar>
    <ion-title>ChartJS</ion-title>
  </ion-navbar>
  <ion-segment padding [(ngModel)]="chartType" color="primary">
    <ion-segment-button value="donut">
      donut
    </ion-segment-button>
    <ion-segment-button value="line">
      line
    </ion-segment-button>
     <ion-segment-button value="bar">
      bar
    </ion-segment-button>
    <ion-segment-button value="all">
      all
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content padding>
    <canvas *ngIf="chartType=='donut' || chartType=='all'" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                [legend]="lineChartLegend">
    </canvas>
    <canvas *ngIf="chartType=='line' || chartType=='all'" baseChart 
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
    </canvas>
    <canvas *ngIf="chartType=='bar' || chartType=='all'" baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
    </canvas>
</ion-content>